// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
	display:inline-block;
}
form {
	padding-top: 12.5px;
  padding-bottom: 12.5px;
}
#st-search-input {
	height:100%;
}
#mixpanel {
	text-align:center;
}
#swiftype {
	text-align:center;
	margin-bottom:50px;
}
#swiftype .btn-default {
  background-color:transparent;
}