<nav class='footer' role='navigation'>
	<div id='swiftype'>
		<a class='btn btn-default btn-lg' href="https://swiftype.com">
			<img src="https://raw.githubusercontent.com/swiftype/website/4fe083b1c2e4638f25ef89ed8e0bb959c13eaa1a/app/assets/images/embed/powered-by.png?token=ABHDRuhHOsjpW0CpoSy2ZkRmNuXll4XXks5Uc4IrwA%3D%3D" alt="Swiftype Search for Websites &amp; Mobile Apps" />
		</a>
	</div>
	<div id='mixpanel'>
		<a href="https://mixpanel.com/f/partner">
			<img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
		</a>
	</div>
</nav>